*{padding:0;margin:0;}
body{font-family:'Microsoft YaHei',Arial,sans-serif;font-size:16px;text-align:center;background:#FFF;color:#000;}
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a{border:none;}
img,input{border:none;vertical-align:middle;}
html{overflow-y:scroll;}
ul,ol{list-style-type:none;}
input{outline:none;border:none;box-shadow:none;}
button{border:none;cursor:pointer;font-size:16px;background-color:transparent;}
a:link,a:visited{text-decoration:none;color:#333;}
a:hover,a:active{text-decoration:none;color:#f60;}